a{
    text-decoration: none;
    color: black;
    font-size: x-large;
    margin-bottom: 10px;
    color: white;
}

body {
    font-family: 'DungGeunMo';
    text-align: center;
    background-color: black;
    color: white;
}

h2 {
    /* border: 7px dashed black; 
    padding: 10px 30px 10px 30px; */
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 70px;

}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.item {
    font-size: 35px;
}

.item2 {
    grid-column-start: 2;
    grid-column-end: 3;

}


@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

